{% extends 'bikerental/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body {
        background-image: none;
        background-color: #f3f3f3;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 85vh; */
    }

    #passwordresetheading {
        text-align: center;
        letter-spacing: .25em;
        font-weight: 500;
    }
</style>
<div class="content-section px-3 py-3">
    <form method="POST" class="">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-1" id="passwordresetheading">RESET PASSWORD</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-warning btn-block" type="submit">Reset password</button>
        </div>
    </form>
</div>
{% endblock content %}