{% extends 'bikerental/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body {
        background-image: none;
        background-color: #f3f3f3;
        display: flex;
        /* flex-direction: column;
        justify-content: center; */
        min-height: 85vh;
    }

    #mybikesheading {
        text-align: center;
        letter-spacing: .5em;
        font-weight: 500;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card {
        width: 50rem;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(66, 47, 47, 0.11);
        margin-bottom: .5rem;
    }

    .bikeimg {
        width: 250px;
        height: 150px;
        margin: .5rem .5rem;
    }

    .lead {
        font-size: medium;
        font-weight: 500;
    }

    span {
        font-weight: 400;
    }

    .mybikesbutton {
        width: 7.5rem;
        height: 2.1rem;
    }
</style>
<div class="row">
    <legend class="mt-0" id="mybikesheading">MY BIKES</legend>
</div>
{% for bike in user_bikes %}
<div class="row card no-gutters">
    <div class="col-4">
        <img src="{{ bike.image.url }}" alt="" class="bikeimg">
    </div>
    <div class="col-6 pl-1">
        <div class="lead mt-2">Bike : <span>{{ bike.bike_company }} {{ bike.bike_model}}</span></div>
        <div class="lead">Reg number : <span>{{ bike.reg_number }}</span></div>
        <div class="lead">Seat Capacity : <span>{{ bike.seat_capacity }}</span></div>
        <div class="lead">Location : <span>{{ bike.bike_location }}</span></div>
        <div class="lead">Rent per day : <span>&#8377 {{ bike.rent_per_day }}</span></div>
        <div class="lead">Driven kms : <span>{{ bike.driven_kms }}km</span></div>
    </div>
    <div class="col-2 pr-1">
        <div class="pt-2">
            {% if bike.is_confirmed %}
            <button type="button" class="btn btn-outline-success btn-sm mybikesbutton" data-toggle="tooltip"
                data-placement="top" title="your bike is approved" disabled>
                Confirmed</button>
            {% else %}
            <button type="button" class="btn btn-outline-danger btn-sm mybikesbutton" data-toggle="tooltip"
                data-placement="top" title="your bike is not approved yet" disabled>Not confirmed</button>
            {% endif %}
        </div>
        <div class="pt-1">
            {% if bike.is_confirmed %}
            <form action="{% url 'dealer-holdbike' %}" enctype="multipart/form-data" method="POST" class="mb-0">
                {% csrf_token %}
                {% if bike.is_on_halt %}
                <button class="btn btn-outline-secondary btn-sm mybikesbutton" value="{{ bike.bike_id }}"
                    name="remove_hold">Remove hold</button>
                <!--                    </form>-->
                {% else %}
                <!--                    <form action="{% url 'dealer-holdbike' %}" enctype="multipart/form-data" method="POST" class="mb-0">-->
                {% csrf_token %}
                <button class="btn btn-outline-secondary btn-sm mybikesbutton" value="{{ bike.bike_id }}"
                    name="put_on_hold">Put on hold</button>
                {% endif %}
            </form>

            {% else %}
            <button type="button" class="btn btn-outline-secondary btn-sm mybikesbutton" disabled>Put on hold</button>
            {% endif %}
        </div>
        <div class="pt-1">
            <form action="{% url 'dealer-editbike' %}" enctype="multipart/form-data" method="POST" class="mb-0">
                {% csrf_token %}
                <button class="btn btn-warning  btn-sm mybikesbutton" value="{{ bike.bike_id }}"
                    name="editbutton"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
  <path d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
</svg></button>
            </form>
        </div>
        <div class="pt-1">
            <form action="{% url 'dealer-deletebike' %}" enctype="multipart/form-data" method="POST" class="mb-0">
                {% csrf_token %}
                <button class="btn btn-danger btn-sm mybikesbutton" value="{{ bike.bike_id }}"
                    name="deletebutton"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></button>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}